<h2 class="ms-5">DETERMINACIÓN DE CONJUNTOS</h2>
<div class="ms-5 ps-md-5 my-3 ">
    <p><u>NOTACIONES:</u></p>
    <p>Para denotar conjuntos utlizaremos generalmente letras mayúsculas, y para especificar elementos se usarán letras minúsculas, a menos     que dichos elementos sean, a su vez, conjuntos. Para indicar la pertenencia de un elemento a un conjunto será utilizando el símbolo ε.</p>
    <p>La proposición "a ε A" se lee: "a pertenece a A", o bien " el elemento a pertenece al conjunto A".</p>
    <p>Su negación es "a ∉ A", que se lee: " a no pertenece a A".</p>
    <p>Si el conjunto A esta formado por los elementos a,d y c escribimos:</p>
    <p class="text-center h4"> <strong>A= {a,b,c}</strong></p>
    <p>en este caso se nombran todos los elementos del conjunto, y se dice que está determinado por extensión.</p>
    <p>Las notaciones usuales para caracterizar conjuntos numéricos son las siguiente:</p>
    
    <p class="text-center "> <strong>N </strong>conjunto de los números naturales.</p>
    <p class="text-center"> <strong>Z </strong>conjunto de los números enteros.</p>
    <p class="text-center" > <strong>Q </strong>conjunto de los números racionales.</p>
    <p class="text-center" > <strong>R </strong>conjunto de los números reales.</p>
    <p class="text-center" > <strong>C </strong>conjunto de los números complejos.</p>
    
    <p> La representación por extensión del conjunto cuyos elementos son -1,0 y 1, es:</p>
    <p class="text-center h4"><strong> A= {-1, 0, 1}</strong></p>
    <p> Es facil ver que se trata del conjunto de los números enteros cuyo valor absoluto es menor que 2; en este enunciado hacemos referencia a elementos del conjunto <strong>Z</strong>, de los números enteros, el cual se llama referencial o universal; además, estamos interesados en aquellos que satisfacen la propiedad de ser, en valor absoluto, menores que 2.</p>
    <p> La notación correspondiente es :</p>
    <p class="text-center h4"><strong> A= {x ε Z/ ৷x৷ < 2} </strong></p>
    <p> y se dice que el conjunto ha sido determinado por comprensión.</p>
    <p>El conjunto universal depende de la disciplina en estudio, se fija de antemano, y está formado por todos los elementos que intervienen en el tema de interés. En general se detonará con U.</p>
</div>

<div class="row g-0 ms-5 me-5 mt-0 bg-body-secondary position-relative ">
    <span class="border border-3">

        <div class="col-me-9 p-4 ps-md-5">
            <h5 class="mt-0 ms-5 fs-4">DEFINICIóN:</h5>
            <p class="ms-5 fs-5"> <em>Un conjunto se determina por extensión si y sólo si se enumeran todos los elementos que constituyen. Un conjunto se define por comprensión si y sólo si se da la propiedad que caracteriza a sus elementos.</em></p>

        </div>
    </span>
</div>
<div  class="ms-5 ps-md-5  my-3">
    <p>El conjunto cuyos elementos verifican la propiesas P se indica;</p>
    <p class="text-center h4"> <strong> A= {x ε U /P(x)} </strong></p>
    <p> o mas brevemente, si U está sobrentendido;</p>
    <p class="text-center h4"> <strong> A= {x /P(x)} </strong></p>
    <p> y se lee: "A es el conjunto formado por los elementos x, tales que P(x)". P(x) es una función proposicional, y un objeto del universal pertenece al conjunto su y sólo si verifica la propiedad, es decir;</p>
    <p class="text-center h4"> <strong>a ε A ⇔ P(a) es V</strong></p>
    <p>En consecuencia</p>
    <p class="text-center h4"> <strong> a ∉ A ⇔ P(a) es F</strong></p><br><br>

</div>

<div  class="ms-5 ps-md-5  my-3">
    <p> <strong>Vamos a ver los siguientes <u>EJEMPLOS</u> donde se determina simbólicamente y por extensión los siguientes conjuntos definidos por comprensión:</strong></p>
</div>

<div class="row" style="margin-left: 2%; margin-right: 2%">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card" >
      <div class="card-body">
       <h5 class="mt-0 ms-3 fs-4">EJEMPLO A:</h5>
    {{!-- <p>Determinar simbólicamente y por extensión los siguientes conjuntos definidos por comprensión:</p> --}}
    <p class="reduce-spacing">i) A es el conjunto de los números enterios cuyo cuadrado es igual a 1.</p>
    <p class="reduce-spacing">En este cado la propiedad que caracteriza a los elementos de A es conjunción de</p>
    <p class="text-center reduce-spacing"> P(x): x ε Z y Q(x): x^2=1
    </p>
    <p class="reduce-spacing" >entonces:</p>
    <p class="text-center reduce-spacing"> A={ x/ x ε Z ∧ x^2=1}
    </p>
    <p class="reduce-spacing">y como universal puede sobrentenderse el conjunto de los números reales o racionales.</p>
    <p >Si proponemos a Z como universal, puede escribirse de la siguiente manera:

    </p>
    <p class="text-center reduce-spacing"> A={ x ε Z /x^2=1}</p>

    <p>Obviamente, la determinación por extensión es</p>
      <p class="text-center reduce-spacing "> A={ -1 , 1}</p>
      
        
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
         <h5 class="mt-0 ms-3 fs-4">EJEMPLO B:</h5>
        <p >ii) B es el conjunto de los números naturales mayores que 2, y que no superam a 6.</p>
      <p >Consideranso a N como universal, la propiedad característica de los elementos de B es el conjunto de </p>
      <p class="text-center "> P(x): x> 2 y Q(x): x ≼ 6</p>
      <p >que podemos expresar </p>
      <p class="text-center">R(x): 2< x ≼ 6</p>
      <p >Por extensión nos queda</p>
      <p class="text-center reduce-spacing ">B(x)={3, 4, 5, 6}</p>
        
      </div>
    </div>
  </div>
</div>