<h2 class="ms-5 py-4">DIAGRAMA DE VENN</h2>
<div class="card pt-1 pb-1" style="width: 50rem;  background-color:white; margin-left:15%">
  <div class="card-body">
    <p class="card-text">Existe una representacion visual de los conjuntos dado por diagramas llamados de Venn. En este
      sentido, el conjunto universal suele representarse por un rectangulo, y los conjuntso por rencintos cerrados. Es
      claro que todo elementos de A pertenece a U, es decir, A ⊂ U. Sean A,B,y C subconjuntos de U, como indica el
      diagrama. (imagen). En este caso se verifica que A ⊂ B.</p>
  </div>
  <img src="/images/diagrama1.png" class="card-img-top" alt="...">

</div>

<div class="ms-4">
  <h5 class="text-center py-5"><u>EJEMPLOS:</u></h5>

</div>

<div class="container-xl">
  <div class="row">
    <div class="col-9"></div>
    <div class="col-5 ms-4"><p><strong>A) </strong>Sean U = N y los conjuntos</p>
        <p class="ms-4">A = {x/x I 6} <br>
          B = {x/x I 8} <br>
          C = {x/x ≤ 2}
        </p>
        <p>Se pide la represtación de tales conjuntos mediante diagramas de Venn. <br>
          Definimos la relación de divison en N mediante</p>
        <p class="ms-5">a I b &nbsp; &nbsp;&nbsp;&nbsp;si y sólo si &nbsp;&nbsp; ∃ n ε N / b= a.n</p>
        <p>Teniendo en cuenta esta definición, y las realción de menor o igual, la representacion por extension de tales
          conjuntos es :</p>
        <p>A = {1, 2, 3, 6} &nbsp; &nbsp;&nbsp;&nbsp; B = {1, 2, 4, 8}</p>
        <p class="ms-5">C ={1, 2} </p>
        <p>En terminos de de diagrama de Venn:</p>
        <img src="/images/diagrama2.png" alt=""></div>
    <div class="col-6 ms-5"> <strong>B)</strong> Consideramos el conjunto U de todos los triángulos; si I denota el conjunto de los triángulos isósceles, E de los quiláteros y R de los triángulos rectángulos, se tiene: <br>

      <img src="/images/diagrama3.png" alt="" class="ms-5"><br>
      <p>Ya que todo triángulo equilátero tiene los tres lados iguales, en consecuencia tiene dos iguales, es decir, es isóceles. Además existen triángulos isóceles que son rectángulos, pero ningún triángulo equilátero es rectángulo.</p>
    </div>
   
  </div>
</div>