<h2 class="ms-5 py-4">RELACIONES DE EQUIVALENCIA</h2>
<div class="ps-md-5 my-3 ">
    <p> Las relaciones binarias definidas en un conjunto, que verifican las propiedades reflexicas, simétricas y
        transitiva, se llaman de equivalencia y desempeñan un papel importante en álgebra.</p>
</div>

<div class="row g-0 ms-5 me-5 mt-0 bg-body-secondary position-relative ">
    <span class="border border-3">

        <div class="col-me-9 p-4 ps-md-5">
            <h5 class="mt-0 ms-5 fs-4">DEFINICIóN:</h5>
            <p class="ms-5 fs-5"> <em>La relación R ⊂ A^2 es de equivalencia en A si y sólo si es reflexiva, simétrica y
                    transitiva <br>
                    Por razones de simplificación se utiliza el símbolo ∼, y los elementos de todo par perteneciente a
                    la relación se llaman equivalentes. <br>
                    La notación a ∼ b se lee "a es equivalente a b", y significa que el par (a,b) pertenece a la
                    relación. En este sentido, las relaciones de equivalencia satisfacen:</em></p>
            <p class="lead ms-5"> <em>I) REFLEXIVIDAD: Todo elemento de A es equivalente a sí
                    mismo:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ∀ x: x ε A ⇒ x ∼ x <br>
                    II) SIMETRICA: Si un elemento es equivalente a otro, entonces éste es equivalente al primero:
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;∀ x ∀ y: x ∼ y ⇒ y ∼ x <br>
                    III) TRANSITIVIDAD: Si un elemento es quivalente a otro, y éste es equivalente a un tercero,
                    entonces el primero es equivalente al tercero.nbsp;&nbsp;&nbsp;&nbsp;&nbsp;∀ x ∀ y ∀ z: x ∼ y ∧ y ∼
                    z ⇒ x ∼ z</em></p>



        </div>
    </span>
</div>

<div class="ms-5 py-5">
    <p class="ms-3"><u><strong>EJEMPLO:</strong></u></p>
    <p class="ms-4">En A = {1, 2, 3}. La relación: &nbsp;&nbsp;&nbsp;&nbsp; ∼ = {(1,1)(2,2)(3,3)(1,2)(2,1)}
        &nbsp;&nbsp;&nbsp;&nbsp;es de equivalencia. Clasificamos las siguientes proposiciones:</p>
    <p class="text-center"> 1 ∼ 1 V &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 ∼ 2 V &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3 ∼
        1 F <br>
        2 ∼ 2 V &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2 ∼ 1 V &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2 ∼ 3 F <br>
        3 ∼ 3 V &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 ∼ 3 F &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3 ∼ 2 F</p>


    <p class="text-start ms-4">En virtud de las tres primeras queda asegurada la reflexividad. En cuanto a la
        simetría es suficiente ver que:</p>
    <p class="text-center">1 ∼ 2 ⇒ 2 ∼ 1 es V</p>
    <p class="text-start ms-4">Más aun, si el antecedente es falso la implicación es verdadera</p>
    <p class="text-center">1 ∼ 3 ⇒ 3 ∼ 1 </p>
    <p class="text-start ms-4">Para la transitividad, descartando los casos de antecedente falso, es suficiente
        verificar</p>
    <p class="text-center">1 ∼ 1 ∧ 1 ∼ 2 ⇒ 1 ∼ 2 V <br>
    1 ∼ 2 ∧ 2 ∼ 1 ⇒ 1 ∼ 1 V <br>
    2 ∼ 1 ∧ 1 ∼ 2 ⇒ 2 ∼ 2 V <br>
    1 ∼ 1 ∧ 1 ∼ 1 ⇒ 1 ∼ 1 V </p>
    


</div>