<h2 class="ms-5">IMPLICACIONES ASOCIADAS</h2>
<div class="ms-5 ps-md-3 my-3 mx-5 py-3">
    <p> Sea el condicional <em>p ⇒ q</em>, que llamamos directo; en conexión con él, se presentan otros 3, obtenidos por
        permutaciones o negaciones del antecedente y consecuente:
    </p>
</div>
<div class="container-sm my-0">
    <div class="col-md-4 offset-md-4 ">
        <div class="text-start">
            <ol class="list-group list-group-numbered">
                <li class="list-group-item"> <strong><em>q ⇒ p</em> </strong>recíproco</li>
                <li class="list-group-item"><strong><em>∼p ⇒ ∼q</em> </strong>contrario</li>
                <li class="list-group-item"><strong><em>∼q ⇒ ∼p</em></strong> contrarecíproco</li>


            </ol>
        </div>
    </div>
</div>
<div class="ms-5 ps-md-3 my-3 mx-5 py-3">
    <p>Las cuatro implicaciones propuestas se llaman conjugadas, y cualquiera de ellas puede tomarse como directa. El siguiente esquema nos proporciona la relacion que las vincula
    </p>
</div>
<div class="container-sm my-0">
    <div class="col-md-4 offset-md-4 ">
        <div class="text-start">
            <ol class="list-group list-group-numbered">
                <li class="list-group-item"> <strong><em>p ⇒ q</em> </strong>recíprocos <strong><em>q ⇒ p</em> </strong> </li>
                <li class="list-group-item"><strong><em>∼p ⇒ ∼q</em> </strong>recíprocos <strong><em>∼q ⇒ ∼p </em> </strong></li>
                <li class="list-group-item"> <strong><em>p ⇒ q</em> </strong>contrario <strong><em>∼p ⇒ ∼q</em> </strong> </li>
                <li class="list-group-item"> <strong><em>q ⇒ p</em> </strong>contrario <strong><em>∼q ⇒ ∼p</em> </strong> </li>
                <li class="list-group-item"> <strong><em>p ⇒ q</em> </strong>contrarecíproco <strong><em>∼q ⇒ ∼p</em> </strong> </li>
                <li class="list-group-item"> <strong><em>q ⇒ p</em> </strong>contrarecíproco <strong><em>∼p ⇒ ∼q</em> </strong> </li>
        
            </ol>
        </div>
    </div>
</div>
<div class="ms-5 ps-md-3 my-3 mx-5 py-3">
    <p>Es fácil verificar que las implicaciones contrarrecíprocas son equivalentes, es decir, los siguientes bicondicionales son tautologías:
    </p>
    <p class="text-center reduce-spacing"> (p ⇒ q) ⇔ (∼q ⇒ ∼p)</p>
    <p class="text-center"> (q ⇒ p) ⇔ (∼p ⇒ ∼q) </p>
    <p class="reduce-spacing">Si la implicación directa es V, también lo es la contrarrecíproca, y no podemos afirmar la verdad de la recíproca o de las contraria. Pero si son verdaderos un condicional y su reíproco o contrario, entonces son verdaderos los cuatro, y las proposiciones antecedente y consecuente son equivalentes.</p>
    <p>Se presenta continuamente la necesidad de demostrar la verdad de <em>p ⇒ q</em>, y de acuerdo con lo expuesto se presentan dos métodos:</p>
    <p class="ms-5">a) <em>DIRECTO</em>: Si p es F, nada hay que probar, pues en este caso <em>p ⇒ q</em> es V. Si p es V hay que establecer que el valor de verdad de q es V.</p>
    <p class="ms-5">a) <em>INDIRECTO</em>: si q es V queda establecida la verdad <em>p ⇒ q</em>. Pero si q es F hay que examinar p y llegar a establecer que su valor de verdad es F.</p>

</div>
<h2 class="ms-5">NEGACION DE UNA IMPLICACIÓN</h2>
<div class="ms-5 ps-md-3 my-3 mx-5 py-3">
    <p>Las proposiciones  <em>p ⇒ q y ∼(p ∧ ∼q)</em> son equivalentes, como lo muestra la siguiente tabla:
    </p>
</div>
<div class="col-5 offset-md-3">
    <table class=" table table-hover table-bordered border-danger">
        <thead>
            <tr>

                <th scope="row">p</th>
                <th scope="row">⇒</th>
                <th scope="row">q </th>
                <th scope="row">⇔</th>
                <th scope="row">∼ </th>
                <th scope="row">p</th>
                <th scope="row">∧</th>
                <th scope="row">∼q </th>


            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>

                <td>V</td>
                <td>V</td>
                <td>V</td>
                <td>V</td>
                <td>V</td>
                <td>V</td>
                <td>F</td>
                <td>F</td>
            </tr>
            <tr>
                <td>V</td>
                <td>F</td>
                <td>F</td>
                <td>V</td>
                <td>F</td>
                <td>V</td>
                <td>V</td>
                <td>V</td>
            </tr>
            <tr>
                <td>F</td>
                <td>V</td>
                <td>V</td>
                <td>V</td>
                <td>V</td>
                <td>F</td>
                <td>F</td>
                <td>F</td>
            </tr>

            <tr>
                <td>F</td>
                <td>V</td>
                <td>F</td>
                <td>V</td>
                <td>V</td>
                <td>F</td>
                <td>F</td>
                <td>V</td>
            </tr>

        </tbody>
    </table>
</div>
<div class="ms-5 ps-md-3 my-3 mx-5 py-3">
    <p>En consecuencia, la negación de la primera equivale a la negación de la segunda, es decir
    </p>
    <p class="text-center"> ∼(p ⇒ q) ⇔ ∼[∼(p ∧ ∼q)]</p>
    <p> y por la ley de involución se tiene lo siguiente:</p>
    <p class="text-center">∼(p ⇒ q) ⇔ (p ∧ ∼q)</p>
    <p>Es decir, la negacion de una implicación no es una implicación, sino una conjunción del antecedente con la negación del consecuente.</p>
</div>
<div class="ms-5 py-0 mt-5">
    <p> <strong>EJEMPLO:</strong></p>
</div>
<div class="ms-5 ps-md-3 my-3 mx-5 py-3">
    <p>Sean las implicaciones:</p>
    <p class="ms-5 reduce-spacing"> i) Si hoy es lunes, entonces mañana es miércoles</p>
    <p class="ms-5"> ii) 1=-1 ⇒ 1^2 =(-1)^2 </p>
    <p>Sus negaciones son, respectivamente:</p>
    <p class="text-center reduce-spacing"> "Hoy es lunes y mañana no es miércoles"</p>
    <p class="text-center">" 1=-1 ∧ 1^2 ≠ (-1)^2"</p>
</div>
