<h2 class="ms-5">Propociones:</h2>

<div class="row g-0 ms-5 me-5 mt-0 bg-body-secondary position-relative ">
    <span class="border border-3">

        <div class="col-me-9 p-4 ps-md-5">
            <h5 class="mt-0 ms-5 fs-4">DEFINICIóN:</h5>
            <p class="ms-5 fs-5">Proposición es toda oración respecto de la cual puede decirse si es verdadero o falso.
                Es
                decir, proposición es toda oración declarativa. Toda proposición esta asociada a un valor de verdad, en
                cual
                puede ser verdadero(V) o falso (F). Podemos decir entonces que <em> proposición es el significado de
                    toda oración declarativa.</em> </p>

        </div>
    </span>
</div>

<div class="ms-5 ps-md-5 my-3 ">
    <p> CONSIDEREMOS LAS SIGUIENTES ORACIONES:</p>
</div>
<div class="container-sm my-0">
    <div class="col-md-4 offset-md-4 ">
        <div class="text-start">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">1-¿Quien vive en esta casa?</li>
                <li class="list-group-item">2- Vayase. </li>
                <li class="list-group-item">3- Eva ama la musica.</li>
                <li class="list-group-item">4- 5 es un numero par.</li>
                <li class="list-group-item">5- Se dilatan los cuerpos con el calor</li>
                <li class="list-group-item">6- La musica es amada por Eva.</li>
            </ul>
        </div>
    </div>
</div>

<div class="ms-5 ps-md-3 my-3 mx-5 py-3">
    <p> Se trata de seis oraciones diferentes, una interrogativa, una de orden y cuatro declarativas. De las dos
        primeras no podemos decir que sean verdaderas ni falsas, una pregunta puede formularse o no, y una orden puede
        ser
        cumplida o no. En cambio, de las cuatro ultimas, que son declarativas, tiene sentido decir si son verdaderas o
        falsas. A estas las llamamos Proposiones.</p>
</div>

<h2 class="ms-5 py-3">Notaciones y conectivos:</h2>

<div class="ms-5 ps-md-3 my-0 mx-5 ">
    <p>Las proposiones genéricas son denotadas con las letras <strong>p, q, r, etc.</strong> A partir de proposiones
        simples es posible generar otras, simples o compuetas. Es decir, se puede operar con proposiones, y segun sean
        tales operaciones se utilizan ciertos simbolos, llamados conectivos lógicos. </p>
</div>

<div class="row g-0 ms-5 me-5 mt-0 position-relative ">
    <span class="border border-2">
        <div class="col-me-9 p-4 ps-md-5 ">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">CONECTIVO</th>
                        <th scope="col">OPERACION ASOCIADA</th>
                        <th scope="col">SIGNIFICADO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>〜</td>
                        <td>Negacion</td>
                        <td>no p o no es cierto que p</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>∧</td>
                        <td>Conjunción o producto lógivo</td>
                        <td>p y q</td>
                    </tr>


                    <tr>
                        <th scope="row">3</th>
                        <td>⇒</td>
                        <td>Implicación</td>
                        <td>p implica q o si p entonces q</td>

                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>⇔</td>
                        <td>Doble Implicación</td>
                        <td>p si y sólo si q</td>

                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>⊻</td>
                        <td>Diferencia simétrica</td>
                        <td>p o q (en sentido excluyente)</td>

                    </tr>

                    <tr>
                        <th scope="row">6</th>
                        <td>∨</td>
                        <td>Disyunción o suma lógica</td>
                        <td>p o q (en sentido incluyente)</td>

                    </tr>
                </tbody>
            </table>



        </div>
    </span>
</div>

<h2 class="ms-5 py-0 mt-5">Operaciones proposionales:</h2>
<div class="ms-5 ps-md-3 my-0 mx-5 ">
    <p>Definiremos las operaciones entre proposiciones en el sentido siguiente: dadas una o dos proposiones, cuyos
        valores de verdad se conocen, se trata de caracterizar la proposicion resultante a traves de su valor de verdad.
        Se supone que en la elección de estos valores se tiene en cuenta el buen sentido. </p>
</div>

<div class="ms-5 py-0 mt-5">
    <p> <strong> 1- <u> NEGACIÓN:</u></strong> La negación de la proposición p es la proposición <em>〜p (no p) </em> ,
        cuya tabla de verdad es: </p>
</div>



<div class=" col-1 offset-md-3">
    <table class=" table table-hover table-bordered border-danger">
        <thead>
            <tr>

                <th scope="row">p</th>
                <th scope="row">〜p</th>

            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>

                <td>V</td>
                <td>F</td>

            </tr>
            <tr>

                <td>F</td>
                <td>V</td>

            </tr>

        </tbody>
    </table>
</div>

<div class="ms-5 py-0 mt-5">
    <p> <strong>1.1-EJEMPLOS:</strong></p>
</div>

<ul class="list-group col-md-4 offset-md-1">
    <li class="list-group-item list-group-item-action" style="padding-left: 7.5%;"> p: toda mujer es simpática</li>
    <li class="list-group-item list-group-item-action">〜p: no toda mujer es simpática</li>
    <li class="list-group-item list-group-item-action">〜p: hay mujeres antipáticas</li>
    <li class="list-group-item list-group-item-action">〜p: hay mujeres que no son simpáticas</li>
    <li class="list-group-item list-group-item-action ">〜p: no es cierto que toda mujer es simpática</li>
</ul>

<div class="ms-5 ps-md-3 my-3 mx-5 py-3">
    <p> La cual <em> p </em> es F, ya que no toda mujer es simpática, y si recurrimos a la tabla de verdad las las demas
        son todas V.</p>
</div>

<div class="ms-5 py-0 mt-5">
    <p> <strong>2- <u> CONJUNCIÓN:</u></strong> La conjunción de las proposiciones <em>p y q </em> es la proposicion
        <em> p ∧ q (p y q)</em> , cuya tabla de valores de verdad es :
    </p>
</div>
<div class=" col-2 offset-md-3">
    <table class=" table table-hover table-bordered border-danger">
        <thead>
            <tr>

                <th scope="row">p</th>
                <th scope="row">q</th>
                <th scope="row">p ∧ q </th>

            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>

                <td>V</td>
                <td>V</td>
                <td> V</td>
            </tr>
            <tr>
                <td>V</td>
                <td>F</td>
                <td>F</td>
            </tr>
            <tr>
                <td>F</td>
                <td>V</td>
                <td>F</td>
            </tr>

            <tr>
                <td>F</td>
                <td>F</td>
                <td>F</td>
            </tr>

        </tbody>
    </table>
</div>
<div class="ms-5 ps-md-3 my-3 mx-5 py-3">
    <p> La tabla que define la operación establece que la conjunción sólo es verdadera si lo son las dos proposiciones
        componentes. En todo otro caso es falsa</p>
</div>

<div class="ms-5 py-0 mt-5">
    <p> <strong>2.1-EJEMPLOS:</strong></p>
</div>

<div class="accordion col-md-7 offset-md-2">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne">
                EJEMPLO i
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
            <div class="accordion-body">
                <strong> i) </strong> 5 es un numero impar y 7 es un numero primo (se trata de la conjunción de las
                proposiciones) <br>
                <strong> p: </strong>5 es un numero par <br>
                <strong> q:</strong> 7 es un numero primo <br>
                <p>
                    <em> p y q</em> son verdaderas entonces <em> p ∧ q </em> la proposiocion compuesta es tambien
                    verdadera,
                    según su tabla de verdad.
                </p>

            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseTwo">
                EJEMPLO ii
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
                <strong>i)</strong> hoy es martes y mañana sábado <br>
                <strong> p: </strong>hoy es martes <br>
                <strong> q:</strong> mañana es sábado <br>
                <p>
                    <em> p </em> es verdadera y <em> q </em>es falsa entonces<em> p ∧ q </em> la proposiocion compuesta
                    es
                    falsa, según su tabla de verdad.
                </p>
            </div>
        </div>
    </div>

</div>



<div class="ms-5 py-0 mt-5">
    <p> <strong>3- <u> IMPLICACIÓN O CONDICIONAL</u></strong> La Implicación de las proposiciones <em>p y q </em> es la
        proposición <em> p ⇒ q (p implica q, si p entonces q)</em> , cuya tabla de valores de verdad es : </p>
</div>
<div class=" col-2 offset-md-3">
    <table class=" table table-hover table-bordered border-danger">
        <thead>
            <tr>

                <th scope="row">p</th>
                <th scope="row">q</th>
                <th scope="row">p ⇒ q </th>

            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>

                <td>V</td>
                <td>V</td>
                <td> V</td>
            </tr>
            <tr>
                <td>V</td>
                <td>F</td>
                <td>F</td>
            </tr>
            <tr>
                <td>F</td>
                <td>V</td>
                <td>V</td>
            </tr>

            <tr>
                <td>F</td>
                <td>F</td>
                <td>V</td>
            </tr>

        </tbody>
    </table>
</div>

<div class="ms-5 ps-md-3 my-3 mx-5 py-3">
    <p> Las propociones <em>p y q</em> se llaman <strong>antecedentes y consecuente</strong> de la Implicación o
        condicional.La implicación usual en matemáticas es formal en el sentido de que no es necesario que el
        consecuente se derive lógicamente del antecedente; cuando esto ocurre, la implicación se llama material y que
        incluida en la primera. </p>
    <p>Las tablas de valores de verdad se definene arbitrariamente, pero respetando el sentido cómun. Enunciamos la
        siguiente preposicion:</p>
    <p class="text-center">"Si apruebo el examen, <strong>ENTONCES</strong> te presto el apunte" (1)</p>
    <p>Se trata de la implicación de las preposiciones:</p>
    <p class="text-center reduce-spacing"> <em>p:</em> apruebo el examen.</p>
    <p class="text-center"><em>q:</em> te presto el apunte.</p>
    <p class="reduce-spacing">Interesa inducir la verdad o falsedad de la implicacion (1), en términos de la V o F de
        las preposiciones <em> p y q.</em> El enunciado (1) puede pensarse como un compromiso, condicionado por
        <em>p</em>, y podemos asociar su verdad al cumplimiento del compromiso. Es obvio que si <em>p</em> es F, es
        decir si no apruebo el examen, quedo liberado del compromiso, y preste o no preste el apunte la preposicion (1)
        es V. Es decir, si el antecedente es F, la implicacion es V. </p>
    <p class="reduce-spacing"> Si <em>p</em> es V, en cuyo caso apruebo el examen, y no presto el apunte, el compromiso
        no se cumple, y la prepocision (1) es entonces F. Si <em>p y q</em> son V, entonces la implicacion es V porque
        el compromiso se cumple.</p>
    <p>De este modo, la implicacion sólo es falsa cuando el antecedente es V y el consecuente es F.</p>

</div>

<div class="ms-5 py-0 mt-5">
    <p> <strong>3.1-EJEMPLOS:</strong></p>
</div>

<div class="accordion col-md-7 offset-md-2">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne">
                EJEMPLO i
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
            <div class="accordion-body">
                <strong> i) </strong> Si hoy es lunes, entonces mañana es martes. <br>
                <strong> p: </strong>hoy es lunes <br>
                <strong> q:</strong> mañana es martes <br>
                <p>
                    Como no puede darse el antecedente V y consecuente F, la implicacion es V.
                </p>

            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseTwo">
                EJEMPLO ii
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
                <p><strong>ii)</strong> 1 = -1 ⇒ 1^2 = (-1)^2 <br>
                    Es V por ser el antecedente F.


                </p>
            </div>
        </div>
    </div>

</div>

<div class="ms-5 py-0 mt-5">
    <p> <strong>4- <u> DOBLE IMPLICACIÓN O BICONDICIONAL</u></strong> La doble Implicación de las proposiciones <em>p y
            q </em> es la proposición <em> p ⇔ q (p si y sólo si q)</em> , cuya tabla de valores de verdad es : </p>
</div>
<div class=" col-2 offset-md-3">
    <table class=" table table-hover table-bordered border-danger">
        <thead>
            <tr>

                <th scope="row">p</th>
                <th scope="row">q</th>
                <th scope="row">p ⇔ q </th>

            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>

                <td>V</td>
                <td>V</td>
                <td> V</td>
            </tr>
            <tr>
                <td>V</td>
                <td>F</td>
                <td>F</td>
            </tr>
            <tr>
                <td>F</td>
                <td>V</td>
                <td>F</td>
            </tr>

            <tr>
                <td>F</td>
                <td>F</td>
                <td>V</td>
            </tr>

        </tbody>
    </table>
</div>

<div class="ms-5 ps-md-3 my-3 mx-5 py-3">
    <p class="reduce-spacing"> La doble implicación o bicondicional sólo es verdadera si ambas preposiciones tienen el
        mismo valor de verdad.</p>
    <p>La doble implicación puede definirse como la conjunción de una implicación y su recíproca. De este modo, la tabla
        de valores de verdad de p ⇔ q, puede obtenerse mediante la tabla (p ⇒ q) ∧ (q ⇒ p) como sigue:</p>

</div>

<div class="col-5 offset-md-3">
    <table class=" table table-hover table-bordered border-danger">
        <thead>
            <tr>

                <th scope="row">p</th>
                <th scope="row">q</th>
                <th scope="row">p ⇒ q </th>
                <th scope="row">q ⇒ p </th>
                <th scope="row">(p ⇒ q) ∧ (q ⇒ p) </th>

            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>

                <td>V</td>
                <td>V</td>
                <td> V</td>
                <td>V</td>
                <td> V</td>
            </tr>
            <tr>
                <td>V</td>
                <td>F</td>
                <td>F</td>
                <td>V</td>
                <td>F</td>
            </tr>
            <tr>
                <td>F</td>
                <td>V</td>
                <td>V</td>
                <td>F</td>
                <td>F</td>
            </tr>

            <tr>
                <td>F</td>
                <td>F</td>
                <td>V</td>
                <td>V</td>
                <td>V</td>
            </tr>

        </tbody>
    </table>
</div>

<div class="ms-5 py-0 mt-5">
    <p> <strong>4.1-EJEMPLOS:</strong></p>
</div>

<div class="accordion col-md-7 offset-md-2">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne">
                EJEMPLO i
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
            <div class="accordion-body">
                <strong> i) </strong> T es equilátero si y sólo si T es equiángulo, es la doble implicación de las
                preposiciones<br>
                <strong> p: </strong>T es equilátero <br>
                <strong> q:</strong> T es equiángulo <br>
                <p>
                    Toda vez que <em>p</em> sea V tambien lo es <em>q</em>, y analogamente, si <em>p</em> es F,
                    <em>q</em> es F. De modo que la doble implicación es V.
                </p>

            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseTwo">
                EJEMPLO ii
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
                <p><strong>ii)</strong> a = b si y sólo si a^2 = b^2 <br>
                    las preposiciones son:
                </p>
                <p><strong> p: </strong> a = b <br>
                    <strong> q:</strong> a^2 = b^2 <br>
                </p>
                <p> La doble implicación propuesta es falsa si <em>p</em> es F <em>q</em> es V. En los demas casos es V
                </p>
            </div>
        </div>
    </div>

</div>

<div class="ms-5 py-0 mt-5">
    <p> <strong>5- <u> DIFERENCIA SIMÉTRICA</u></strong> La diferencia simétrica o disyunción excluyente de las
        proposiciones <em>p y q </em> es la proposición <em> p ⊻ q (p o q, en sentido excluyente)</em> , cuya tabla de
        valores de verdad es : </p>
</div>
<div class=" col-2 offset-md-3">
    <table class=" table table-hover table-bordered border-danger">
        <thead>
            <tr>

                <th scope="row">p</th>
                <th scope="row">q</th>
                <th scope="row">p ⊻ q </th>

            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>

                <td>V</td>
                <td>V</td>
                <td> F</td>
            </tr>
            <tr>
                <td>V</td>
                <td>F</td>
                <td>V</td>
            </tr>
            <tr>
                <td>F</td>
                <td>V</td>
                <td>V</td>
            </tr>

            <tr>
                <td>F</td>
                <td>F</td>
                <td>F</td>
            </tr>

        </tbody>
    </table>
</div>

<div class="ms-5 ps-md-3 my-3 mx-5 py-3">
    <p class="reduce-spacing"> La verdad de p ⊻ q está caracterizada por la verdad de una y sólo una de las proposiones
        componentes.</p>
    <p>Es claro que <em>p ⊻ q</em> equivale a la negación de p ⇔ q</p>

</div>





<div class="ms-5 py-0 mt-5">
    <p> <strong>6- <u> DISYUNCIÓN:</u></strong> La disyunción de las proposiciones <em>p y q </em> es la proposicion
        <em> p ∨ q (p o q)</em> , cuya tabla de valores de verdad es :
    </p>
</div>
<div class=" col-2 offset-md-3">
    <table class=" table table-hover table-bordered border-danger">
        <thead>
            <tr>

                <th scope="row">p</th>
                <th scope="row">q</th>
                <th scope="row">p ∨ q </th>

            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>

                <td>V</td>
                <td>V</td>
                <td> V</td>
            </tr>
            <tr>
                <td>V</td>
                <td>F</td>
                <td>V</td>
            </tr>
            <tr>
                <td>F</td>
                <td>V</td>
                <td>V</td>
            </tr>

            <tr>
                <td>F</td>
                <td>F</td>
                <td>F</td>
            </tr>

        </tbody>
    </table>
</div>


<div class="ms-5 ps-md-3 my-3 mx-5 py-3">
    <p class="reduce-spacing"> La conjuncion <em> o</em> es utilizada en sentido incluyente, ya que la verdad de la
        disyunción se da en el caso de que al menos una de las proposiciones sea V. En el lenguaje ordinario la palabra
        <em>o</em> es utilizada en sentido excluyente o incluyente.
    </p>
    <p class="reduce-spacing">La ambiguedad se elimina con la eleccion del símbolo adecuado.</p>
    <p class="reduce-spacing">En matemáticas se utiliza la disyunción definida por la tabla precedente, la cual agota
        toda posibilidad.</p>
    <p class="reduce-spacing">La disyunción sólo es F en el cado en que las dos propociones compomponentes sean falsas.
    </p>
</div>

<div class="ms-5 py-0 mt-5">
    <p> <strong>6.1-EJEMPLOS:</strong></p>
</div>

<div class="accordion col-md-7 offset-md-2">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne">
                EJEMPLO i
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
            <div class="accordion-body">
                <p> i) hoy es lunes o martes</p>
                <p>Representa la disyunción de las proposiciones <em>p:</em> hoy es lunes y <em>q:</em> hoy es martes.
                    El
                    sentido de <em>o</em> es excluyente, ya que <em>p</em> y <em>q</em> no pueden ser simultáneamentea
                    verdadera. No obstante, la proposición compuesta puede analizarse a la luz de la tabla propuesta, a
                    través
                    de los tres últimos renglones, y será falsa sólo si las dos lo son. </p>

            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseTwo">
                EJEMPLO ii
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
                <p>ii) Regalo lo libros viejos o que no me sirven.</p>
                <p class="reduce-spacing"><em>p:</em> regalo lo libros viejos</p>
                <p class="reduce-spacing"><em>q: regalo los libros que no me sirven</em></p>
                <p>El sentido del <em>o</em> es incluyente, pues si en efecto regalo un libro que es viejo y que ademas
                    no me
                    sirve entonces <em>p ∨ q<em> es V.</p>
            </div>
        </div>
    </div>

</div>