<h2 class="ms-5 py-4">RELACIONES DE ORDEN</h2>
<p class="ms-4">Es usual en matemáticas y en la vida cotidiana ordenar los elementos de un conjunto de acuerdo con algún criterio conveniente. El orden queda especificado a través del término "preceder", y decir:</p>
<p class="text-center"> "x preceder a y " signifca (x,y)</p>
<p class="ms-4">Lo esencial de toda relación de orden es la transitividad, y según se cumplan o no otras propiedades se habla de orden amplio o estricto, y en cada caso, de orden parcial o total.</p><br><br>
<h5 class="ms-5">ORDEN AMPLIO</h5>

<div class="row g-0 ms-5 me-5 mt-0 bg-body-secondary position-relative ">
    <span class="border border-3">

        <div class="col-me-9 p-4 ps-md-5">
            <h5 class="mt-0 ms-5 fs-4">DEFINICIóN:</h5>
            <p class="ms-5 fs-5"> <em>Sea R ⊂ A^2 <br>
                    R es una relación de orden amplio en A si y sólo si es reflexiva, antisimétrica y transitiva. <br>
                    Obviando los cuantificadores universales tenemos:</em></p>
            <p class="lead ms-5"> <em>I) REFLEXIVIDAD:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  x ε A ⇒ (a,a)ε R  <br>
                    II) ANTISIMETRÍA: 
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (a,b)ε R ∧ (b,a)ε R ⇒ a = b  <br>
                    III) TRANSITIVIDAD:&nbsp;&nbsp;&nbsp;&nbsp; (a,b)ε R ∧ (b,c)ε R ⇒ (a,c)ε R </em></p>



        </div>
    </span>
</div><br><br>

<h5 class="ms-5">ORDEN PARCIAL Y TOTAL</h5>
<p class="ms-4">Sea R una relación de orden en A: <br>
i) R es de orden parcial si y sólo si existen pares de elementos incomparables, es decir</p>
<p class="text-center h4">∃a, ∃b /(a,b) ∉ R ∧ (b,a) ∉ R</p>
<p class="ms-4">ii) El orden es total en caso contrario, es decir</p>
<p class="text-center h4">a ≠ b ⇒ (a,b) ε R ∨ (b,a)ε R</p><br><br>

<h5 class="ms-5">ORDEN ESTRICTO</h5>

<div class="row g-0 ms-5 me-5 mt-0 bg-body-secondary position-relative ">
    <span class="border border-3">

        <div class="col-me-9 p-4 ps-md-5">
            <h5 class="mt-0 ms-5 fs-4">DEFINICIóN:</h5>
            <p class="ms-5 fs-5"> <em>Sea R ⊂ A^2 <br>
                   R es una relación de orden estricto si y sólo su es arreflexiva, asimétrica y transitiva. <br>
                    En símbolos:</em></p>
            <p class="lead ms-5"> <em>I) ARREFLEXIVIDAD: Ningún elemento del conjunto está relacionado consigo mismo.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  a ε A ⇒ (a,a) ε R  <br>
                    II) ASIMETRÍA:Si un elemento está relacionado con otro, entonces éste no lo está con el primero. 
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (a,b)ε R ⇒ (b,a) ∉ R<br>
                    III) TRANSITIVIDAD:&nbsp;&nbsp;&nbsp;&nbsp; (a,b)ε R ∧ (b,c)ε R ⇒ (a,c)ε R </em></p>



        </div>
    </span>
</div><br><br>