<h2 class="ms-5 py-4">RELACIONES </h2>
<div class="ms-5"><h6><em>Vamos a necesitar la definicion de producto cartesiano y pares ordenados</em></h6></div>
<div class="row ms-5 py-4">
  
  <div class="col-8 ms-5">
    <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
      <h4 id="list-item-1"class="ms-5">Par ordenado</h4>
      <p class="ms-5">Dados dos elementos a y  interesa formar un conjunto que dependa de dichos elementos y del orden en que se consideren. <br>
      Par ordenado  (a,b) es el conjunto cuyo elementos son {a} y {a,b}</p>
      <p class="text-center h4">(a,b)=[{a},{a,b}]</p>
      <p class="ms-5">a&nbsp; y &nbsp;b son la primera y la segunda componente del par ordenado.</p><br>
      <h4 id="list-item-2" class="ms-5">Producto cartesiano</h4>
      <p class="ms-5">Producto cartesiano de dos conjuntos A y B es el conjunto cuyos elementos son todoas los pares ordenados cuya primera componente pertenece a A y la segunda a B. <br>
      En símbolos:</p>
      <p class="h4 text-center">AXB ={(a,b)/a ε A &nbsp;&nbsp;&nbsp; ∧ &nbsp;&nbsp;&nbsp;b ε B}</p>
     
    </div>
  </div>
</div>

<div class="ps-md-5 my-3 py-5 ">
    <p>Sean A y B dos conjuntos y P(x,y) una propiedad relativa a los elementos x ε A  &nbsp; y  &nbsp; &nbsp;y ε B, en ese orden. Esto sufiere naturalmente la consideración del producto cartesiano AXB, y la determinación de los pares ordenados (a,b) para los cuales P(a,b) es una proposicion verdadera. De este modo queda definido un subconjunto R ⊂ AXB, llamado relación. <br>
    Para fijar ideas consideremos el conjunto A formado por las personas a,b, c y d y el conjuento B cuyos elementos son las posibles notras semanales obtenidas en un asignatura: 1, 2, 3, 4, y 5, correspondientes a  insuficientes, aprobados, bueno, distinguido y sobresaliente. Es decir: </p>
    <p class="text-center h4">A= {a, b, c, d} &nbsp; &nbsp;  y &nbsp; &nbsp; B = {1, 2, 3, 4, 5}</p><br>
    <p>Los elementos de A quedan vinculados con los del conjuento B mediante la propiedad:&nbsp; &nbsp;&nbsp; &nbsp;<em>P(x, y): x obtuvo la nota y</em><br><br>
    Supongamos que la situación al cabo de una semana queda especificada mediante el siguiente diagrama: </p>
    <img src="/images/diagrama7.png" alt=""class="rounded mx-auto d-block">
    <p>Esta relación entra A y B está caracterizada por el conjunto de pares ordenados</p>
    <p class="text-center h4">R={(a,2), (a,4), (b,4), (d,5)}</p>
    <p>Como c no tiene ningún correspondiente en B, consideramos que no ha sido clasificado en la semana. Se tiene:</p>
    <p class="text-center h4">(x,y)ε R ⇔ P (x,y) es V</p>
    
</div>

<div class="row g-0 ms-5 me-5 mt-0 bg-body-secondary position-relative ">
    <span class="border border-3">

        <div class="col-me-9 p-4 ps-md-5">
            <h5 class="mt-0 ms-5 fs-4">DEFINICIóN:</h5>
            <p class="ms-5 fs-5"> <em>Relación entre A y B es todo subconjunto del producto cartesiano AXB</em></p>
            <p class="ms-5 fs-5"><em>Simbólicamente se indica:</em></p>
            <p class="text-center h4"><strong> <em> R es una relación entre A y B  ⇔ R ⊂ AXB  </em></strong></p>
            <p class="ms-5 fs-5"><em>Para indicar que un par ordenado (a,b) pertenece a la relación suele escribirse <strong>aRb</strong>, lo que equivale a (a,b)ε R.</em></p>
            

        </div>
    </span>
</div>
<div class="ms-4">
  <h5 class=" py-5"><u>REPRESENTACIÓN, DOMINIO, IMAGEN Y RELACION INVERSA</u></h5>
  <h6><u>Representación:</u></h6>
  <p>Sea R una relación entre A y B, es decir, R ⊂ AXB. En el caso de conjuntos finitos se utilizan los siguientes tipos de representación; <br>
  i) Mediante el diagrama de Venn. <br>
  ii) Mediante un gráfico cartesiano. <br>
  iii) Mediante una matriz.</p><br>

  <p><em>Consideremos una relación R entre los conjuntos A y B. <br>
  Si (a,b) ε R diremos que <em>y</em> es una imagen de x a través de R, y que x es antecedente o preimagen de <em> y</em> por R</em></p>

  <h6><u>Dominio:</u></h6>
  <p>Dominio de R es la totalidad de los elementos de A, que admiten imagen en B</p>
  <p class="text-center h4">D = {x ε A/ (x,y) ε R}</p>
  <h6><u>Imagen:</u></h6>
  <p>Imagen de R es el conjunto de los elementos de B, que admiten un antecedente en A</p>
  <p class="text-center h4">I = {y ε B/ (x,y) ε R}</p>
  <h6><u>Relación inversa:</u></h6>
  <p>Relación inversa R es el subconjunto de BXA definido por</p>
  <p class="text-center h4"> R^-1= {(y,x) / (x,y) ε R}</p>


</div>