<h2 class="ms-5">TRABAJO PRACTICO</h2>
<div class="ms-5 ps-md-3 my-3 mx-5 py-3">
    <p class="h4"> <em>En la página que tienes frente a ti, te invitamos a embarcarte en un viaje de descubrimiento a través de una serie de ejercicios diseñados para poner a prueba tus habilidades de razonamiento lógico, que se viene repasando. Estos ejercicios abarcan una amplia gama de temas, desde  proposiciones hasta razonamiento deductivo válido, para repasar lo aprendido. </em>
    </p><br><br>
    <p class="h4">1-1) En el libro Hijos en libertad de A.S. Neill, estan escritas las siguientes proposiciones: </p>
    <p class="h5 ms-5"><em>p: Mis maestros hacen que todas las lecciones sean aburridas.</em></p>
    <p class="h5 ms-5"><em>q: No aceptan las respuestas que no figuran en los libros.</em></p>
    <p class="h5 ms-5"><em>r: Imponen un cúmulo de normas estúpidas.</em></p><br>
    
    <p class="h4"> Construir las proposiciones siguientes:</p>
    <p class="ms-5 text-center h5"> <em>p ∧ q , ∼q ∨ r , (p ∧ q) ⇒ r </em></p> <br><br>
    <p class="h4">1-2) Escribir en forma simbólica la siguiente proposición compuesta que figura en el mismo texto:</p>
    <p class="ms-5 h5">  <em>  "La chatura y el tedio de ciertas disciplinas escolares se trasmiten a los maestros, y las escuelas se llenan de hombres y mujeres de mentalidad estrecha, vanidosos, cuyo horizonte está limitado por el pizarrón y el libro de texto"</em> </p><br>
    <p class="h4">1-3) Confeccionar las tablas de valores de verdad de las preposiciones</p>
    <p class="ms-5  h5"><em>i)(p ∧ q) ⇒ r</em></p>
    <p class="ms-5 h5"><em>ii)∼(p ∨ q) ⇔ ∼p ∧ ∼q </em></p><br>
    <p class="h4">1-4) Negar las proposiocines construidas en el ejercicio <strong>1-1).</strong></p><br>
    <p class="h4">1-5) Proponer las siguientes proposiciones en forma simbólica, negarlas y retraducirlas al lenguaje común:</p>
     <p class="ms-5  h5"><em>i)(p ∧ q) ⇒ q</em></p>
    <p class="ms-5 h5"><em>ii)[(p ⇒ q) ∧ (q ⇒ r)] ⇒ (p ⇒ r ) </em></p>
    <p class="ms-5  h5"><em>iii) p ⇒ p ∧ q </em></p>
    <p class="ms-5  h5"><em>iv) p ⇒ p ∨ q </em></p><br>
    <p class="h4">1-6) Simplificar las siguientes proposiciones:</p>
    <p class="ms-5  h5"><em>i)∼(∼p ∨ ∼q)</em></p>
    <p class="ms-5  h5"><em>ii)∼(p ∨ q) ∨ (∼p ∧ q)</em></p><br>
    <p class="h4">1-7)Sabiendo que (p ∨ q) es V y que ∼q es V, determinar el valor de verdad de </p>
    <p class="text-center h5"><em>[(p ∨ q) ∧ ∼q ]⇒ q</em></p><br>
    <p class="h4">1-8) Determinar, en cada caso, si la información que se da es suficiente para conocer el valor de verdad de las siguientes proposiciones compuestas. En caso afirmativo, justificarlo:</p>
    <p class="ms-5  h5"><em>i)(p ⇒ q) ⇒ r; r es V</em></p>
    <p class="ms-5 h5"><em>ii)(p ∨ q) ⇔ (∼p ∧ ∼q); q es V. </em></p>
    <p class="ms-5  h5"><em>iii)(p ∧ q) ⇒ (p ∨ r); p es V y r es F </em></p>
    <p class="ms-5  h5"><em>iv) p ∧ (q ⇒ r); p⇒r es V </em></p><br>
    <p class="h4">1-8)Los valores de verdad de las proposiciones p,q,r y s son, respectivamente, V,F,F,V. Obtener los valores de verdad de:</p>
    <p class="ms-5  h5"><em>i)[(p ∨ q) ∨ r] ∧ s </em></p>
    <p class="ms-5 h5"><em>ii)r ⇒ s ∧ p  </em></p>
    <p class="ms-5  h5"><em>iii) p ∨ r ⇔ r ∧ ∼s </em></p><br>
    <p class="h4">1-9) Dadas las siguientes proposiciones:</p>
    <p class="ms-5 h5"> <em>i) El cuadrado de todo número real es mayor que 2.</em></p>
    <p class="ms-5 h5"> <em>ii) Existen enteros cuyo cubo aumentando en 1 es igual al cubo del siguientes.</em></p>
    <p class="ms-5 h5"><em>iii) Todo el que estudia, triunfa.</em></p>
    <p class="h4"> Expresarlas simbolicamente y negar las expresiones obtenidas.</p>
    
</div>
<div class="ms-5 ps-md-3 my-3 mx-5 py-3">
    <p class="h4">1-10) Justificar el razonamiento:</p>
    <div class="container-sm">
        <div class="col-md-2 offset-md-4 ">
            <div class="text-start">
                <p class="ms-3">p ∨ ∼q </p>
                <p class="ms-3"> ∼q ⇔ r </p>
                
            
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">p ∨ ∼r</li>
                    <li class="list-group-item">p </li>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<p class="ms-5"><ins>Si necesitas las respuestas contactare con nosotros y te las enviamos.</ins></p>