<h1 class="text-center">MATE-PLANET</h1>
<div class="container-xs" style="margin-top: 50px; ">
    <div class="row">
        <div class="col">
            <p class="text-end">
                <span> Hola {{persona}}!</span>
                <a href="/admin/login/logout" class="btn btn-danger"> Cerrar sesion <i class="fas fa-sign-out-alt"></i></a>
            </p>

        </div>

    </div>
</div>

<h1 class="py-5">Contenido que te puede llegar a interesar</h1>


<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">INDUCCION COMPLETA</h5>
        <p class="card-text">El principio de inducción completa proporciona un método de demostración por recurrencia, de vastas aplicaciones en matemática.No es constructivo, en el sentido de generar propiedades ; pero hace posible la demostración de éstas cuando son relativas al conjunto de los números naturales</p>
        <a href="https://www.ecured.cu/M%C3%A9todo_de_inducci%C3%B3n_completa" class="btn btn-primary">Pagina similar</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">ESTRUCTURA DE GRUPO</h5>
        <p class="card-text">La estructura de grupo es un sistema axiomático básico y fundamental de la matemática y puede ser encarada imponiendo condiciones a las esructuras de monoide o de semigrupo. No obstante, como es habitual, la proponemos aqui independientemente de aquellos conceptos.</p>
        <a href="https://www.ecured.cu/Grupo_(matem%C3%A1ticas)" class="btn btn-primary">Página similar</a>
      </div>
    </div>
  </div>
</div>

<h1 class="py-5">PROXIMAMENTE MAS CONTENIDO DISPONIBLE</h1>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="/images/rectanumerica.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">NÚMEROS REALES</h5>
        <p class="card-text"> Se estudiara siguiendo dos alternativas: los encajes de intervalos cerrados, y las cortaduras de Dedeking; se mencionaran ademas, los pares de sucesiones monótonas contiguas de racionales, detalles de la potenciación y la logaritmación en R. Ademas se demostrara que R es no numerable.</p><br>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/images/numeroscomplejos.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">NÚMEROS COMPLEJOS</h5>
        <p class="card-text">Teoria y ejercitacion básicas relativas. La generación del conjunto en C y de las operaciones en él es la habitual: una relacion de equivalencia en R^2 que presenta la ventaja de caracterizar clases unitarias y por consiguiente identificacion en C. Se definiran las operaciones de adición y de multiplicación,y además de la forma binómica se introducen las formas trigonométricas y de exponencial.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/images/polinomio.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">POLINOMIOS</h5>
        <p class="card-text">Se definara apartir de la definición de polinomio formal de aun anillo con identidad, se llega al concepto de anillo de polinomio formales y al caso particular de dominio de integridad de polinomios de un cuerpo.Se estudiara la divisivilidad, los ideales y la factorizacion.Ademas polinomio reales y complejos.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/images/numerosnaturales.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">NUMEROS NATURALES</h5>
        <p class="card-text"> Se estudiaran cuáles son los números naturales y cómo se organizan dentro de las clases de números.Después veremos cómo se clasifican los números naturales y cuáles son sus propiedades.</p><br><br><br>
      </div>
    </div>
  </div>
</div>