





<form class="form" action="/admin/registro" method="post">
    <p class="title">Registro </p>
    
        <div class="flex">
        <label>
            <input class="input" type="text" placeholder="" required="" name="nombre">
            <span>NOMBRE</span>
        </label>

        <label>
            <input class="input" type="text" placeholder="" required="" name="apellido">
            <span>APELLIDO</span>
        </label>
    </div>  
            
    <label>
        <input class="input" type="email" placeholder="" required="" name="email">
        <span>EMAIL</span>
    </label> 

    <label>
        <input class="input" type="user" placeholder="" required="" name="usuario">
        <span>USUARIO</span>
    </label> 
        
    <label>
        <input class="input" type="password" placeholder="" required="" name="password">
        <span>CONTRASEÑA</span>
    </label>
   
    <button class="submit" onclick="return confirm ('INGRESO EXITOSO, BIENVENIDO');">REGISTRO</button>
    
</form>


